.header-container {
    height: 75px;
    z-index: 10;
    position:relative !important;
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 50px;
    left: 0;
    top: 0;
  }
  .header{
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  background-color: #008080;
  color: white;
  padding:10px 10px;
  font-size: 30px;
  position: fixed;
  font-weight: bold;
  
}
.subheader{
  font-size: 12px;
  position:fixed;
  top: 50px;
  left: 60px;
  margin-top: 5px;
  display: block;
  color: white;
}
.myAccount{
  margin-right: 10px;
  /* font-weight: bold; */
  font-size: 17px;
  position: fixed;
  top: 20px;
  right: 30px;
  margin-top: 5px;
  display: block;
  color: white;
  float: left !important;
}
.search{
  margin-right: 10px;
  /* font-weight: bold; */
  font-size: 17px;
  position: fixed;
  top: 20px;
  right: 0px;
  margin-top: 5px;
  display: block;
  color: white;
  float: left !important;

}

@media screen and (max-width: 500px) {
  .header-container {
    height: 75px;
  }
  .header {
    height: 75px;
  }
}